@media (max-width: 1919px) {
    .max-width {
        max-width: 1350px;
    }
    .intro-info {
        width: 662px;
    }
    
    .more__text {
        width: 658px;
    }

    .achievements-card {
        width: 300px;
    }
}

@media (max-width: 1439px) {
    .max-width {
        max-width: 934px;
    }

    .intro-info {
        width: 486px;
    }
    
    .team-title {
        font-size: 86px;
        line-height: 105px;
    }

    .more__text {
        width: 482px;
    }

    .achievements-card {
        width: 196px;
    }
}

@media (max-width: 1023px) {
    .max-width {
        max-width: 678px;
    }

    .header {
        justify-content: flex-start;
    }

    .header__right-side {
        align-items: flex-start;
    }

    .header__logo {
        display: none;
    }

    .header__logo-mob {
        display: block;
        margin: 30px 0;
    }

    .header__nav_ul {
        margin: 0;
    }

    .intro {
        flex-direction: column;
    }

    .intro-info {
        width: auto;
        margin: 0;
    }

    .advantages {
        width: auto;
        margin-top: 30px;
    }

    .team-title {
        font-size: 46px;
        line-height: 56px;
    }

    .more {
        flex-direction: column;
    }

    .more__text {
        width: auto;
    }

    .more__title {
        width: auto;
        margin-top: 30px;
    }

    .achievements-card {
        width: 132px;

        & img {
            width: 75%;
        }
    }

    .copyrights-mob {
        display: block;
        @include Link($grey-text);
        margin-top: 30px;
    }

    .copyrights {
        display: none;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 670px) {

    .max-width {
        width: 530px;
    }
}

@media (max-width: 519px) {
    .max-width {
        max-width: 345px;
    }

    .header {
        display: none;
    }

    .header-mob {
        display: block;
    }

    .top-bar {
        background: $grey-bg;
        padding: 10px 0;
        justify-content: space-between;
        padding: 10px 15px;
        align-items: center;
    }

    .nav-mob {
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .header__logo-mob {
        margin: 0;

        & img {
            width: 178px;
        }
    }

    .nav__button-mob {
        position: relative;
        border: none;
        background: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: block;
        color: $main-regular;
        z-index: 999;

        & span, &::before, &::after {
            content: "";
            width: 18px;
            height: 2px;
            position: absolute;
            background: currentColor;
            margin: -1px 0 0 -10px;
            transition: .25s ease-in-out;
        }

        &::before {
            transform: translateY(-6px);
        }

        &::after {
            transform: translateY(6px);
        }

        &:active {
            background: #E6E6F0;
            border-radius: 8px;
        }
    }

    .if-nav-mob-open {
        
        z-index: 999;


        & span {
            visibility: hidden;
        }

        &::after {
            transform: rotate(-135deg);
            color: $accent;
        }

        &::before {
            transform: rotate(135deg);
            color: $accent;
        }
    }

    .intro {
        padding: 30px 0;
    }

    .team-title {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 13px;
    }

    .more {
        padding-top: 30px;
    }

    .achievements-cards {
        justify-content: center;
    }

    .achievements-card {
        width: 255px;

        &:not(:first-child) {
            display: none;
        }
    }

    .footer-content__address, .footer-content__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-tel {
        margin: 10px 0;
    }

    .dot-footer {
        display: none;
    }

    .nav-mob-open {
        margin-top: 45px;
    }
}

@media (max-width: 374px) {
    .max-width {
        max-width: 320px;
    }
}