.header {
    justify-content: space-between;
    padding-top: 50px;
}

.header-mob {
    display: none;
}

.header__logo-link {
    display: block;
}

.header__logo-mob {
    display: none;
}

.header__right-side {
    flex-direction: column;
    align-items: flex-end;
}

.header__contacts{
    justify-content: space-between;
    align-items: center;
    width: 478px;
}

.lang {
    border-radius: 8px;
    width: 33px;
    height: 25px;
    border: none;
    background: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $grey-text;
    cursor: pointer;

    &:hover {
        background: $grey-bg;
    }

    &.lang-active {
        background: $accent;
        color: #fff 
    }
}

.header-address {
    @include Link($grey-text)
}

.header-tel {
    @include H4($grey-text);
}

.fb-link {
    display: block;
    width: 24px;
}

.fb-logo-header {
    @include fb-logo($grey-text)
}

.header__nav_ul {
    width: 416px;
    margin-top: 15px;
    justify-content: space-between;
}

.header__nav-link {
    @include H4($active-regular);

    &:hover {
        text-decoration: underline solid 2px;
        text-underline-offset: 6px;
    }

    &.active-nav-link {
        color: $accent;
        text-decoration: underline solid 2px;
        text-underline-offset: 6px;
    }
}

.dot-separator {
    width: 6px;
}