@mixin Hero {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@mixin Hero-regular($color) {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: $color;
}

@mixin H2($color) {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: $color;
}

@mixin H3($color) {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $color;
}

@mixin H3-caps($color) {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color;
}

@mixin H4($color) {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color;
}

@mixin Paragraph($color) {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color;
}

@mixin Paragraph-small($color) {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $color;
}

@mixin Introduction($color) {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: $color;
}

@mixin Link($color) {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color;
    text-decoration: none;
}

@mixin line($height, $color) {
    height: $height;
    background-color: $color;
    border: none;
}

@mixin fb-logo($color) {
    path {
        fill: $color;
    }

    &:hover path {
        fill: $accent;
    }
}